body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('file:///C:/Users/gabriel/Downloads/Tela%20de%20fundo%20para%20o%20jogo.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #333;
    font-size: 28px;
}

p {
    color: #555;
    font-size: 16px;
}

label {
    display: block;
    margin-top: 10px;
    color: #555;
}

select {
    padding: 10px;
    font-size: 16px;
    margin-top: 5px;
}

button {
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

input {
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#score {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}

#guessInput:disabled {
    background-color: #ddd;
    cursor: not-allowed;
    color: #555;
}

.message {
    margin-top: 20px;
    font-size: 18px;
}
